@page "/"

<PageTitle>Space Voyage</PageTitle>

<div class="gridContainer">
    <div class="about"><strong>Space Voyage</strong> is an exciting 2D pixel art game set in deep space, where the player takes control of a spaceship. The goal of the game is to avoid an endless stream of meteors and achieve the highest possible score, with each passing second and point bringing the player closer to increasingly difficult challenges. As the player progresses and collects points, the game dynamically intensifies—the number of meteors increases, and their speed gradually accelerates. The player must demonstrate quick reflexes and precise control to avoid the ever-growing threat of collision, which would end their space adventure. Each attempt offers a fresh experience and an opportunity to beat personal records, motivating the player to continuously improve and push their limits.</div>
    <div class="ad1">Ad1</div>
    <div class="ad2">Ad2</div>
    <div class="gameImages">
        <div class="gridContainerImages">
            <div class="itemImage1"> <img class="image1" alt="GameImage1" src="pictures/gameImage1.png"> </div>
            <div class="itemImage2"><img class="image2" alt="GameImage2" src="pictures/gameImage2.png"> </div>
            <div class="itemImage3"><img class="image3" alt="GameImage3" src="pictures/gameImage3.png"> </div>
            <div class="itemImage4"><img class="image4" alt="GameImage4" src="pictures/gameImage4.png"> </div>
        </div>
    </div>
    <div class="review">
        <div class="gridContainerReviews">
            <a href="#"><div class="itemReview1"> <img class="review1" alt="Review1" src="pictures/review1.png"> </div></a>
            <a href="#"><div class="itemReview2"><img class="review2" alt="Review1" src="pictures/review2.png"> </div></a>
            <a href="#"><div class="itemReview3"><img class="review3" alt="Review1" src="pictures/review3.png"> </div></a>
        </div>
    </div>
    <div class="payment">
        <div class="gridContainerPayment">
            <div class="paymentInfo">
                <p>Early access,no paid DLC</p>
                <button type="button" class="btn btn-primary btn-lg">Buy now for 20€!</button>
            </div>
            <div class="paymentDifferentMethod">
                <p>You can also purchase this on HumbleBundle!</p>
                <a href="#">
                    <img class="humbleImage" alt="HumbleBundleLogo" src="pictures/humbleBundle.png">
                </a>

            </div>

        </div>

    </div>
    <div class="info">
        <a href="index.html" class="infoButtons">Home</a>
        <a href="#" class="infoButtons">Privacy policy</a>
        <a href="#" class="infoButtons">Contact Us</a>
    </div>
</div>