@page "/login"
@using SpaceVoyage.Models.ViewModels
@using SpaceVoyage.Data
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject IDbContextFactory<UserDataContext> UserDataContextFactory;

<h1>UserName</h1>

<EditForm Model="@ViewModel" OnValidSubmit="Authentification" FormName="LoginForm">
    <DataAnnotationsValidator/>
        <div class="loginForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User name</label>
            <InputText class="form-control" @bind-value="ViewModel.UserName" placeholder="Username"/>
            <ValidationMessage For="() => ViewModel.UserName"></ValidationMessage>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
                <InputText class="form-control" @bind-value="ViewModel.Password" placeholder="Password" type="password"/>
            <ValidationMessage For="() => ViewModel.Password"></ValidationMessage>
            <div id="emailHelp" class="form-text">Your account details including your user name and password was unfortunately sold to Meta</div>
        </div>
        <div class="mb-3">
            <div id="Error" class="form-text">@ErrorMessage</div>
        </div>
        <div class="d-grid gap-2 loginButton">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        </div>
</EditForm>

